.App {
  text-align: center;
}
.body {
  background-color: rgba(217, 217, 217, 0.2);
}

.date-picker {
  display: flex;
  justify-content: center;
}

.date-grid {
  background-color: rgba(217, 217, 217, 0.2);
  justify-content: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 400px 400px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 30px;
}
.date-game {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 160px 40px 40px 40px;
  justify-content: center;
  grid-gap: 15px;
  /* justify-content: left; */
  border: 10px solid rgba(154, 43, 43, 0.25);
  border-radius: 1px;
  padding: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  font-size: 1.5em;
  font-family: 'Gentium';
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(217, 217, 217, 0.2);

}

form[class^='score-box'] {
  background-color: rgba(217, 217, 217, 0.2);
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.score-box-2-1 {
  grid-column: 2;
  grid-row: 1;
}
.score-box-2-2 {
  grid-column: 2;
  grid-row: 2;
}

.score-box-3-1 {
  grid-column: 3;
  grid-row: 1;
}

.score-box-3-2 {
  grid-column: 3;
  grid-row: 2;
}

.score-box-4-1 {
  grid-column: 4;
  grid-row: 1;
}

.score-box-4-2 {
  grid-column: 4;
  grid-row: 2;
}

.team-name {
  grid-column: 1;
  font-size: 20px;
  font-family: 'Gentium';
  padding-top: 5px;
}

.App-logo {
  height: 40vmi;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/GenBkBasR.ttf)
}
